<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<app-header></app-header>
<section>
<div class="to">
  <div class="p1">
    <div>
   <div class="titre">
       <h1>
        Les Packs de <span>TIE JOB</span>
       </h1>
              </div>
          
    </div>
        </div>

  <div class="cards">

    
         <div class="card br">
        <div class="cn">
          <h2>Pack <br> Basique</h2>
          <p>
            Ce pack offre une solution économique et efficace pour des besoins de recrutement à court terme
          </p>
          <div class="ch">
           <i class='bx bxs-check-square'></i> <p>Tranquillité d'esprit</p>
          </div>
          <div class="ch">
           <i class='bx bxs-check-square'></i> <p>Accés illimité </p>
          </div>
          <div class="ch">
           <i class='bx bxs-check-square'></i> <p>L'efficacité</p>
          </div>
          <div class="ch">
           <i class='bx bxs-check-square'></i> <p>La Simplicité</p>
          </div>
          <div class="ch">
           <i class='bx bxs-check-square'></i> <p>Recherche Basique</p>
          </div>
        </div>
         <div class="pr">
          <span class="r">2.990DT</span> <span>6 mois</span>
         </div>
           </div>
           <div class="card o">
            <div class="cn">
              <h2>Pack <br>Premium</h2>
              <p>
                Ce pack offre une solution complète et optimisée pour des résultats de haute qualité sur le long terme.
              </p>
              <div class="ch">
                <i class='bx bxs-check-square'></i> <p>Tranquillité d'esprit</p>
               </div>
               <div class="ch">
                <i class='bx bxs-check-square'></i> <p>Accés illimité </p>
               </div>
               <div class="ch">
                <i class='bx bxs-check-square'></i> <p>L'efficacité</p>
               </div>
               <div class="ch">
                <i class='bx bxs-check-square'></i> <p>La Simplicité</p>
               </div>
               <div class="ch">
                <i class='bx bxs-check-square'></i> <p>Recherche Basique</p>
               </div>
               <div class="ch">
                <i class='bx bxs-check-square'></i> <p>La performance</p>
               </div>
               <div class="ch">
                <i class='bx bxs-check-square'></i> <p>Recherche Premium</p>
               </div>
            </div>
             <div class="pr">
              <span class="r">4.990DT</span> <span>1 ans</span>
             </div>
               </div>
               <div class="card cl">
                <div class="cn">
                  <h2>Pack <br> Avancée</h2>
                  <p>
  
                    Optimisez vos recrutements avec des outils avancés, une visibilité renforcée, un support prioritaire, et une efficacité accrue.
                  </p>
                  <div class="ch">
                    <i class='bx bxs-check-square'></i> <p>Tranquillité d'esprit</p>
                   </div>
                   <div class="ch">
                    <i class='bx bxs-check-square'></i> <p>Accés illimité </p>
                   </div>
                   <div class="ch">
                    <i class='bx bxs-check-square'></i> <p>L'efficacité</p>
                   </div>
                   <div class="ch">
                    <i class='bx bxs-check-square'></i> <p>La Simplicité</p>
                   </div>
                   <div class="ch">
                    <i class='bx bxs-check-square'></i> <p>Recherche Avancée</p>
                   </div>
                </div>
                 <div class="pr">
                  <span class="r">3.990DT</span> <span>9 mois</span>
                 </div>
                   </div>
        
        
         
  </div>
  <div class="nb">
    <p>
     <span>NB :</span> <span class="sp"> Campagnes de Marketing Ciblées :</span> Inclusion dans les campagnes de marketing et sur les réseaux sociaux du site pour promouvoir les offres d'emploi des employeurs auprès des employés inscrits.
    </p>
  </div>
</div>
  <div class="footer">
    <div class="f">
      <div class="ic"><i class='bx bxs-envelope'></i></div>
      <p>tiejobtie@gmail.com</p>
    </div>
    <div class="f">
      <div class="ic"><i class='bx bxs-phone'></i></div>
      <p>+216-26-799-915</p>
    </div>
    <div class="f">
      <div class="ic"><i class='bx bxs-city' ></i></div>
      <p>Sidi-Thabet-Ariana-2020</p>
    </div>
  </div>
</section>